<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened #sidenav>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <span class="material-icons" (click)="sidenav.toggle()">format_align_left</span>
            <!-- <span>My Application</span> -->
            <span class="example-spacer"></span>
            <span class="material-icons">notifications</span>
            <span [matMenuTriggerFor]="Menu" class="material-icons">dashboard</span>
                <mat-menu #Menu="matMenu">
                <button mat-menu-item>Edit Dashboard</button>
                <button mat-menu-item>Change Dashboard</button>
                <button mat-menu-item>manage Angular Material</button>
                <button mat-menu-item>Change Designs</button>
                </mat-menu>
            <span [matMenuTriggerFor]="profMenu" class="material-icons">manage_accounts</span>
                <mat-menu #profMenu="matMenu">
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Log Out</button>
                </mat-menu>
          </mat-toolbar>
        <div class="cont">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>

