<div class="profile">
   <div class="img">
      <img src="/assets/image/user.png" alt="" width="100%" height="auto">
   </div>
   <div class="user">
      <p>Nandan Jha</p>
   </div>
</div>

<mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active"><span class="material-icons">home</span>Home</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item routerLink="/services" routerLinkActive="active"><span class="material-icons">open_with</span>Services</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item routerLink="/products" routerLinkActive="active"><span class="material-icons">add_business</span>Products</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item routerLink="/profile" routerLinkActive="active"><span class="material-icons">account_box</span>Profile</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item routerLink="/about" routerLinkActive="active"><span class="material-icons">account_balance</span>About</a>
 </mat-nav-list>
 <mat-nav-list>
    <a mat-list-item routerLink="/contact" routerLinkActive="active"><span class="material-icons">phone</span>Contact</a>
 </mat-nav-list>