
.mat-list-item:hover, .mat-list-item:focus{background:#9ab3f5;color:#fff;}
.mat-nav-list{padding: 0px;}
.mat-nav-list a{color:#fff; text-transform: uppercase;}
.profile{
    background:#4d50af;
    border-bottom: 1px solid #fff;
    padding-top: 20px;
}
.img{
    width:100px;
    height:100px;
    border-radius: 50%;
    border:1px solid lightblue;
    margin:0px auto;
    background-color:#9ab3f5 ;
}
.user {
    text-align: center;
    color:#fff;
    font-weight: bold;
    padding: 10px 0px;
}
.mat-nav-list a span{
    padding:0px 20px 0px 10px;
}