
  .mat-card{
      height:100%;
      width: 100%;
      padding:0px;
      background:green;
  }
  .mat-card:hover{
      transform: scaleY(0.5);
  }
  button{
      border-radius: 0px;
      width: 100%;
  }
  .card-body{
      width:100%;
  }
  .card-body img{
      width: 100%;
  }