
  .mat-card{
      height:100%;
      width: 100%;
      padding:0px;
      background:green;
  }
  button{
      border-radius: 0px;
      width: 100%;
  }
  .card-body{
      width:100%;
      text-align: center;
  }
  .card-body img{
      width: 100%;
  }