<mat-grid-list cols="4" rowHeight="2:2" gutterSize="10px">
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="card-body">
              
            </div>
            <div class="card-footer">
                <!-- <button mat-flat-button color="primary">Buy Now</button> -->
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
  </mat-grid-list>