.head{
  text-align: center;
}
.head h1{font-weight: bold;color:rgb(224, 10, 10)}
.head p{
  font-weight: bold;
  position:relative;
}
.head p::before{
  content: '';
  background:red;
  width:40px;
  height:3px;
  position:absolute;
  top:10px;
  left:41%;
}
.head p::after{
  content: '';
  background:red;
  width:40px;
  height:3px;
  position:absolute;
  top:10px;
  right:41%;
}
.card{
  padding:10px;
  text-align: center;
  color:#fff;
  background:rgb(27, 25, 25);
  cursor: pointer;
  transition: 0.5s ease;
}
.card:hover{
  background:rgb(224, 10, 10);
}
.card:hover .card-logo span{
  color:#fff;
}
.card-logo span{
  font-size: 3.5rem;
  color:rgb(224, 10, 10);
  padding:10px;
}
