<div class="container">
  <div class="head">
    <h1>My Services</h1>
    <p>What I provide</p>
  </div>

  <div class="body">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-logo">
            <span class="material-icons">design_services </span>
          </div>
          <div class="content">
            <h1>Web Designing</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est provident odio optio inventore repudiandae perspiciatis
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-logo">
            <span class="material-icons">phonelink_setup</span>
          </div>
          <div class="content">
            <h1>Apps Designing</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est provident odio optio inventore repudiandae perspiciatis
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-logo">
            <span class="material-icons">engineering</span>
          </div>
          <div class="content">
            <h1>Web Development</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est provident odio optio inventore repudiandae perspiciatis
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-4">
          <div class="card-logo">
            <span class="material-icons">engineering</span>
          </div>
          <div class="content">
            <h1>Web Development</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est provident odio optio inventore repudiandae perspiciatis
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-4">
          <div class="card-logo">
            <span class="material-icons">engineering</span>
          </div>
          <div class="content">
            <h1>Web Development</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est provident odio optio inventore repudiandae perspiciatis
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-4">
          <div class="card-logo">
            <span class="material-icons">design_services </span>
          </div>
          <div class="content">
            <h1>Web Designing</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est provident odio optio inventore repudiandae perspiciatis
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
