<div class="container">
    <div class="profile">
        <div class="img">
           <img src="/assets/image/user.png" alt="" width="100%" height="auto">
        </div>
        <div class="user">
           <p>User Profile</p>
        </div>
     </div>
     <div class="exper mt-4">
         <div class="row">
             <div class="col-md-6"><h1 class="text-center">Working <span style="color:#4d50af">Experiance</span></h1></div>
             <div class="col-md-6"><h1 class="text-center">Language <span style="color:#4d50af">Know</span></h1></div>
         </div>
     </div>
     <div class="user-profile">
         <div class="job">
            <div class="one">
                <h3>Web Designer</h3>
                <p>Worked as a Web Designer on multiple projects.
                    Learned a lot with our team and worked on various
                    projects.
                </p>
            </div>
            <div class="two">
                <h3>Web Developer</h3>
                <p>Worked as a Web Designer on multiple projects.
                    Learned a lot with our team and worked on various
                    projects.
                </p>
            </div>
            <div class="three">
                <h3>Full Stack Developer</h3>
                <p>Worked as a Web Designer on multiple projects.
                    Learned a lot with our team and worked on various
                    projects.
                </p>
            </div>
         </div>
         <div class="language">
             <div class="progress-1">
                 <p>Javascript</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
              </div>
             </div>
             <div class="progress-1">
                <p>HTML</p>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
             </div>
            </div>
            <div class="progress-1">
                <p>CSS 3</p>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
             </div>
            </div>
            <div class="progress-1">
                <p>Wordpress</p>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
             </div>
            </div>
            <div class="progress-1">
                <p>Angular 2+</p>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
             </div>
            </div>
            <div class="progress-1">
                <p>Photoshop</p>
             <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
             </div>
            </div>
         </div>
     </div>
     <div class="edu">
       <h1 class="text-center">Student<span style="color:red;">Life</span></h1>
         <div class="up">
            <div class="tenth">
              <h1>10th</h1>
              <p>(Shahid Bhagat Sing Higher secondry school) U.P Board</p>
            </div>
            <div class="bca">
              <h1>B.C.A</h1>
              <p>I.I.M.T College of Management ( C.C.S. university )</p>
            </div>
         </div>
         <div class="line"></div>
         <div class="down">
           <div class="twelth">
              <h1>12th</h1>
              <p>(Bhawani Shankar Inter College) U.P Board</p>
           </div>
           <div class="mca">
            <h1>M.C.A</h1>
            <p>Master Of Computer Application A.K.T.University</p>
         </div>
         </div>
     </div>
</div>
