<div class="container">
  <div class="main">
     <img src="/assets/image/nandan.jpg" alt="">
  </div>
  <div class="sub">
     <div class="text">
       <h1>I'm Nandan Jha and I'm a <span style="color:red">Youtuber</span></h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Tenetur reprehenderit quia est perspiciatis magni nulla ullam
           dolorum rerum? Molestias voluptatum odit ea consectetur quam
            recusandae animi aspernatur repellat accusamus distinctio!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Tenetur reprehenderit quia est perspiciatis magni nulla ullam
             dolorum rerum? Molestias voluptatum odit ea consectetur quam
              recusandae animi aspernatur repellat accusamus distinctio!
          </p>
          <button class="btn btn-primary">Download CV</button>
     </div>
  </div>
</div>
